<!DOCTYPE html>
<html>
<head>
  <title>smolBSD VMs</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <style>
    #app { max-width: 50%; }
    .blinking {
      animation: blink 1s infinite;
    }
    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
    .cpu-usage {
      width: 50px;
      height: 20px;
      border-color: black;
      border-radius: 2px;
      margin-left: 10px;
    }
  </style>
</head>
<body>
  <div id="app" class="container mt-5">

    <h1>smolBSD VM Manager</h1> 

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-manage-tab" data-bs-toggle="tab"
          data-bs-target="#nav-manage" type="button" role="tab"
          aria-controls="nav-manage" aria-selected="true">Manage</button>
        <button class="nav-link" id="nav-infos-tab" data-bs-toggle="tab"
          data-bs-target="#nav-infos" type="button" role="tab"
          aria-controls="nav-infos" aria-selected="false">Info</button>
      </div>
    </nav>

    <div class="tab-content mt-3" id="nav-tabContent">

      <!-- Management tab -->

      <div class="tab-pane show active" id="nav-manage" role="tabpanel"
        aria-labelledby="nav-manage-tab">

        <ul class="list-group"> <!-- main list -->

          <!-- VM list + buttons -->

          <li v-for="(vm, vmName) in vmList" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="flex-grow-1">{{ vmName }}</div>
            <div v-if="vmList[vmName].status === 'running'" class="cpu-usage me-4" :id="`cpu-usage-${vmName}`"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-animation="false"
              :title="`${vmName} CPU usage: ${vmList[vmName].cpuUsage }%`">
              <div class="progress" style="height: 100%;">
                <div class="progress-bar" role="progressbar"
                  :style="{ width: `${vmList[vmName].cpuUsage }%` }"
                  :aria-valuenow="vm.cpuUsage" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="btn-group" role="group" aria-label="Actions">
              <button :id="`button-${vmName}`"
                  :class="['btn', 'btn-sm', 'me-2', vm.status === 'stopped' ? 'btn-success' : 'btn-danger']"
                  @click="toggleVM(vmName)">
                {{ vm.status === 'running' ? 'stop' : 'start' }}
              </button>
              <button class="btn btn-sm btn-light me-2"
                :disabled="vm.editprotect"
		@click="editVM(vmName)">✏️</button>
              <button class="btn btn-sm btn-light me-2"
                :disabled="vm.rmprotect"
                @click="deleteVM(vmName)">🗑️</button>
              <button class="btn btn-sm btn-light me-2"
                :disabled="!vm.serial_port"
                @click="copySerialPort(vmName)">💻</button>
            </div>
          </li>

          <!-- create button -->

          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <div>new vm</div>
              <button class="btn btn-sm" :class="showInputs ? 'btn-danger' : 'btn-primary' " @click="toggleInputs(Action.CREATE)">
                {{ showInputs ? 'cancel' : 'create' }}
              </button>
            </div>

            <!-- hidden inputs for vm creation / modification -->

            <div v-if="showInputs" class="mt-2">
              <div class="input-group">
                <input v-model="VM.name" type="text" class="form-control" placeholder="VM Name" aria-label="VM Name">
              </div>
              <div class="input-group mt-2">
                <select v-model="VM.img" id="imageSelect" class="form-select">
                  <option v-for="image in images" :key="image" :value="image">{{ image }}</option>
                  <option value="" disabled>Image</option>
                </select>
              </div>
              <div class="input-group mt-2">
                <select v-model="VM.kernel" id="kernelSelect" class="form-select">
                  <option v-for="kernel in kernels" :key="kernel" :value="kernel">{{ kernel }}</option>
                  <option value="" disabled>Kernel</option>
                </select>
              </div>
              <div class="input-group mt-2">
                <input v-model="VM.mem" type="text" class="form-control" placeholder="Memory" aria-label="Memory">
              </div>
              <div class="input-group mt-2">
                <input v-model="VM.cores" type="text" class="form-control" placeholder="Cores" aria-label="Cores">
              </div>
              <div class="input-group mt-2">
                <input v-model="VM.hostfwd" type="text" class="form-control" placeholder="Host forward" aria-label="HostFwd">
              </div>
              <div class="input-group mt-2">
                <input v-model="VM.share" type="text" class="form-control" placeholder="Shared directory" aria-label="Share">
              </div>
              <div class="input-group mt-2">
                <input v-model="VM.tcpserial" type="checkbox" id="tcpserial" class="form-check-input">
                <label for="tcpserial" class="form-check-label ms-2">TCP serial console</label>
              </div>
              <div class="input-group mt-2">
                <input v-model="VM.rmprotect" type="checkbox" id="rmprotect" class="form-check-input">
                <label for="rmprotect" class="form-check-label ms-2">rm protected</label>
              </div>
              <div class="input-group mt-2">
                <input v-model="VM.editprotect" type="checkbox" id="editprotect" class="form-check-input">
                <label for="editprotect" class="form-check-label ms-2">Edit protected</label>
              </div>
              <button class="btn btn-success btn-sm mt-3" @click="createVM">save</button>
            </div>
          </li>

        </ul> <!-- end main list  -->

      </div> <!-- manage tab -->

      <!-- Info tab -->

      <div class="tab-pane" id="nav-infos" role="tabpanel"
        aria-labelledby="nav-infos-tab">
        foo
      </div>

    </div> <!-- tab content -->
  </div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          Action: {
            CREATE: 0,
            EDIT: 1,
          },
          vmList: {},
          showInputs: false,
          VM: {
            name: '',
            img: '',
            kernel: '',
            mem: '',
            cores: '',
            hostfwd: '',
            share: '',
            tcpserial: false,
            rmprotect: false,
            editprotect: false,
          },
          images: [],
          kernels: []
        };
      },
      methods: {
        toggleInputs(actionType) {
          if (actionType === this.Action.CREATE) {
            this.zeroVM();
          }
          this.showInputs = !this.showInputs;
        },
        getVMList() {
          fetch('/vmlist')
            .then(response => response.json())
            .then(data => {
              this.vmList = data;
            })
            .catch(error => console.error('Error fetching VM list:', error));
        },
        getImages() {
          return fetch('/getimages')
            .then(response => response.json())
            .then(data => {
              this.images = data;
            })
            .catch(error => console.error('Error fetching images:', error));
        },
        getKernel() {
          return fetch('/getkernels')
            .then(response => response.json())
            .then(data => {
              this.kernels = data;
            })
            .catch(error => console.error('Error fetching kernels:', error));
        },
        getState(vm) {
          const state = vm.status === 'stopped'
            ? {
                 button: 'btn-success', action: 'start', status: 'stopped'
              }
            : {
                 button: 'btn-danger', action: 'stop', status: 'running'
              };
          return state;
        },
        zeroVM() {
          for (const key in this.VM) {
            if (this.VM.hasOwnProperty(key)) {
              if (typeof this.VM[key] === 'string') {
                this.VM[key] = ''; // Reset string properties
              } else if (typeof this.VM[key] === 'boolean') {
                this.VM[key] = false; // Reset boolean properties
              }
            }
          }
        },
        toggleVM(vmName) {
          var state = this.getState(this.vmList[vmName]);
          const btnElement = document.getElementById(`button-${vmName}`);
          btnElement.classList.add('blinking');
          btnElement.classList.remove(state.button)
          btnElement.classList.add('btn-secondary')

          fetch(`/${state.action}`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ vm_name: vmName }),
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              var retry = 0;
              const intervalId = setInterval(() => {
                this.getVMList(); // refresh vm statuses
                if (this.vmList[vmName].status !== data.status) {
                  state = this.getState(data);
                  btnElement.classList.remove('blinking');
                  btnElement.classList.add(state.button);
                  this.vmList[vmName].status = state.status;
                  clearInterval(intervalId);
                }
                if (retry++ > 3) {
                  btnElement.classList.remove('blinking');
                  btnElement.classList.add(state.button);
                  clearInterval(intervalId);
                }
              }, 1000);
            }
          })
          .catch(error => {
            alert(`Error: ${error.message}`);
          });
        },
        createVM() {
          if (!this.VM.name || this.VM.image || !this.VM.kernel) {
              alert(`VM name, kernel and image can't be empty`);
              return;
          }
          fetch('/saveconf', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              vm: this.VM.name,
              kernel: "kernels/" + this.VM.kernel,
              img: "images/" + this.VM.img,
              mem: this.VM.mem,
              cores: this.VM.cores,
              hostfwd: this.VM.hostfwd,
              share: this.VM.share,
              tcpserial: this.VM.tcpserial,
              rmprotect: this.VM.rmprotect,
              editprotect: this.VM.editprotect
            })
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              this.getVMList();
              this.toggleInputs(this.Action.CREATE);
              alert(`VM ${this.VM.name} saved successfully.`);
            }
          })
          .catch(error => {
            alert(`Error: ${error.message}`);
          });
        },
        deleteVM(vmName) {
          fetch(`/rm/${vmName}`, {
            method: 'DELETE',
            headers: { 'Content-Type': 'application/json' },
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              this.getVMList();
              alert(`VM ${vmName} deleted successfully.`);
            } else {
              alert(`Failed to delete VM: ${data.message}`);
            }
          })
          .catch(error => {
            alert(`Error deleting VM: ${error.message}`);
          });
        },
        editVM(vmName) {
          const setBooleanFromStr = (value) => value === "True";

          this.zeroVM();
          this.VM.name = vmName;
          this.VM.kernel = this.vmList[vmName].kernel.split("/")[1];
          this.VM.img = this.vmList[vmName].img.split("/")[1];
          this.VM.mem = this.vmList[vmName].mem;
          this.VM.cores = this.vmList[vmName].cores;
          this.VM.hostfwd = this.vmList[vmName].hostfwd;
          this.VM.share = this.vmList[vmName].share;
          if (this.vmList[vmName].serial_port) {
            this.VM.tcpserial = true;
          }
          this.VM.rmprotect = setBooleanFromStr(this.vmList[vmName].rmprotect);
          this.VM.editprotect = setBooleanFromStr(this.vmList[vmName].editprotect);

          if (!this.showInputs) {
            this.toggleInputs(this.Action.EDIT);
          }
        },
        copySerialPort(vmName) {
          const serialPort = this.vmList[vmName]?.serial_port;
          if (serialPort) {
            const cpcommand = `telnet localhost ${this.vmList[vmName]?.serial_port}`
            if (!navigator.clipboard) {
              alert(`navigator.clipboard not available in HTTP: ${cpcommand}`);
              return;
            }
            navigator.clipboard.writeText(cpcommand)
              .then(() => {
                alert(`${cpcommand} copied to clipboard`);
              })
              .catch(err => {
                alert(`Failed to copy: ${err}`);
              });
          }
        },
        cpuUsage() {
          Object.keys(this.vmList).forEach(vmName => {
            if (this.vmList[vmName].status != 'running') {
              return;
            }
            fetch(`/cpu_usage/${vmName}`)
              .then(response => response.json())
              .then(data => {
                this.vmList[vmName].cpuUsage = data;
                console.log(data);
              })
              .catch(error => console.error('Error fetching CPU usage:', error));
          });
        },
      },

      mounted() {
        this.getVMList();
        this.getImages();
        this.getKernel();
        setInterval(this.cpuUsage, 1000);
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
      }
    });

    app.mount('#app'); // Mount the Vue app to the `#app` div
  </script>
</body>
</html>
